@model List<APIMVC.Models.CDatum>

@{
    ViewData["Title"] = "List";
}
@if (Model != null)
{
    <div class="overlay mt-5 pt-5">
        <h1>Colors</h1>
        <div class="row text-center">

            @foreach (var item in Model)
            {
                <div class="col-md-4 color-card pt-2 m-1">
                    <div style="background-color: @item.color; box-shadow: 0 0 25px @item.color; border: 2px solid black;">

                        <h2>@Html.DisplayFor(modelItem => item.name)</h2>

                        <h1>@Html.DisplayFor(modelItem => item.color)</h1>
                        <img src="@item.message" width="180" height="150" />

                        <div class="mt-4">
                            <h5>Pantone Value</h5>
                            <h3>@Html.DisplayFor(modelItem => item.pantone_value)</h3>
                            <p>Year: @Html.DisplayFor(modelItem => item.year)</p>
                        </div>
                    </div>
                </div>
            }

        </div>



    </div>
}
else
{
    <h1>No colors found</h1>
}